html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100%
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
  bottom: 125px;
  width: 100%;
}

.robot {
  width: 320px;
  position: relative;

}

.robot-body {
  width: 320px;
  position: relative;
  top: 180px;
}

.robot-brain {
  width: 46px;
  position: relative;
  left: 140px;
  bottom: 80px;
}

.robot-head-left {
  width: 125px;
  position: relative;
  bottom: 50px;
  right: 150px;
}

.robot-head-right {
  width: 125px;
  position: relative;
  bottom: 50px;
  left: 100px;
}

.robot:hover .robot-head-left {
  position: relative;
  right: 180px;
}

.robot:hover .robot-head-right {
  position: relative;
  left: 150px;
}

.robot .banner {
  position: absolute;
}

.robot {
  position: relative;
}
