html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
}

.robot {
  width: 320px;
  position: relative;
  left: 550px;
}

.robot-body {
  width: 320px;
  position: relative;
  top: 180px;
}

.robot-brain {
  width: 46px;
  position: relative;
  left: 140px;
  bottom: 180px;
}

.robot-head-left {
  width: 125px;
  position: relative;
  bottom: 180px;
  right: 150px;
}

.robot-head-right {
  width: 125px;
  position: relative;
  bottom: 180px;
  left: 100px;
}
