html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100%
}



@media only screen and (min-width: 320px) {
  .banner {
    background-color: #2b3851;
    position: relative;
    bottom: 500px;
  }

  .banner {
    position: absolute;
    top: 0px;
    width: 100%;
    margin: auto;
  }

  .robot {
    width: 280px;
    position: relative;
  }

  .robot-body {
  width: 320px;
  position: relative;
  top: 40px;
  }

  .robot-brain {
    width: 46px;
    position: relative;
    left: 100px;
    bottom: 220px;

  }

  .robot-head-left {
  width: 125px;
    position: relative;
    bottom: 193px;
    right: 15px;
  }

  .robot-head-right {
    width: 125px;
    position: absolute;
    bottom: 200px;
    left: 160px;
  }

  .robot:hover .robot-head-left {
    position: relative;
    right: 180px;

  }


@media only screen and (min-width: 980px) {

.banner {
  background-color: #2b3851;
  position: absolute;
  top: 0px;
  width: 100%;
  margin: auto;
}


.robot-body {
position: relative;
left: 320px;
}

.robot-brain {
  width: 46px;
  position: relative;
  left: 115px;
  bottom: 40px;
  margin: auto;
}

.robot-head-left {
  width: 125px;
  position: relative;
  bottom: 20px;
  right: 150px;
}

.robot-head-right {
  width: 125px;
  position: relative;
  bottom: 20px;
  left: 100px;
}

.robot:hover .robot-head-left {
  position: relative;
  right: 180px;
  margin: auto;
}

  .robot .banner {
    position: absolute;
    margin: auto;
  }

  .robot {
    width: auto;
    margin: auto;
  }




 /*
.robot-brain {
  width: 46px;
  position: relative;
  left: 140px;
  bottom: 80px;
  margin: auto;
}

.robot-head-left {
  width: 125px;
  position: relative;
  bottom: 50px;
  right: 150px;
  margin: auto;
}

.robot-head-right {
  width: 125px;
  position: relative;
  bottom: 50px;
  left: 100px;
  margin: auto;
}

.robot:hover .robot-head-left {
  position: relative;
  right: 180px;
  margin: auto;
}

.robot:hover .robot-head-right {
  position: relative;
  left: 150px;
  margin: auto;
}

.robot .banner {
  position: absolute;
  margin: auto;
}

.robot {
  position: relative;
  margin: auto;
}
